.action {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #04befe;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.action span {
  position: relative;
  width: 100%;
  height: 100%; /* Añadido el signo % */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.7em;
  line-height: 50px; /* Alinea verticalmente el contenido dentro del círculo */

}



  
  .action ul {
    position: absolute;
    bottom: 55px;
    background: #262626;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    color: white;
  }
  
  .action.active ul {
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
  
  .action.active ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
  }
  
  .action ul li:hover {
    font-weight: 600;
  }
  
  .action ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /*important shit for other UI*/
  }
  
  .action ul li i {
    margin-right: 10px;
    opacity: 0.6;
  }
  
  .action ul li:hover i {
    opacity: 0.9;
  }
  
  .action ul li a.fb-icon {
    color: #0062e0;
  }
  
  .action ul li a.tw-icon {
    color: #00acee;
  }
  
  .action ul li a.ig-icon {
    color: #eb28a0;
  }
  
  .action ul li a.pin-icon {
    color: #eb2828;
  }
  
  .action ul li a.in-icon {
    color: #0e76a8;
  }
  