@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f5;


}


.about-container {
  @media (max-width: 640px) {
    display: flex;
    justify-content: center;
    margin-right:1.2rem;
  }
}

.about-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-button {
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.icon-button:hover {
  opacity: 0.8;
}






